body {
  background: url('http://getdrawings.com/image/shh-drawing-51.jpg');
  height: 400px;/* content: center */
}

label {

}
textarea {
    width: 400px;
    height: 100px;
    text-transform: uppercase || lowercase;
    margin: 10px 0 10px 0;
}
select {
    width: 100px;
}
section {
    margin: auto;
    width: 90%;
    padding: 20px;
}
h1, h5 {
    text-align: center;
}
div {
    padding: 20px;
}
input {
    padding: 4px;
    margin: 10px 0 10px 0;
}
#chains {
    height: 250px;
}
